<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">
	<appender class="uk.org.simonsite.log4j.appender.TimeAndSizeRollingAppender"
		name="ROLL_FILE">
		<param name="File" value="${jboss.server.log.dir}/GroupManager.log" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxRollFileCount" value="10" />
		<param name="DatePattern" value="-yyyy-MM-dd-HH" />
		<param name="DateRollEnforced" value="true" />
		<param name="Threshold" value="DEBUG" />
		<param name="BufferedIO" value="false" />
		<param name="FileRollEventMessage"
			value="########################### GROUPMANAGER LOG ############################" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[groupmanager] [%d] [%p] [%c.%M(%L)] | %m%n" />
		</layout>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="ROLL_FILE" />
	</root>
</log4j:configuration>
